.hippo {
    background: #e5e5e5;
    padding: 40px 0;
}

.hippo-image {
    margin: 20px;
    width: 95%;
    height: auto;
    border-radius: 10px;
}

.hippo .text-lead {
    font-weight: bold;
    font-style: italic;
    width: 95%;
    margin: 20px;
}

.hippo .text-medium {
    width: 95%;
    margin: 20px;
    text-align: justify;
}

.hippo .title-small {
    width: 95%;
    margin: 20px;
}